.container__error
  .wrap__error
    h1.error__title 404
    p Упс... кажется что-то пошло не так. Страница, которую вы ищите не существует или была удалена.
    a(href="/index").button.btn-back.btn-back__error Вернуться&nbsp на&nbsp сайт

  