.container__thanks
  .wrap__thanks
    .picture__thanks
      img(src="img/Thanks.jpg", alt="thanks")
    .wrap__thanks-content
      .thanks-content__title Спасибо за заявку!
      .thanks-content__text Наши менеджеры уже ее обрабатывают и свяжутся с вами в течении одного часа.
      a(href="index.html").button.btn-back.btn-back__error Вернуться&nbsp на&nbsp сайт
