---
title: Index Page
---
extends layouts/_layout




block content

  .wrap-index
    h1 Готовые блоки
    .wrap-li
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="/button") Popup  
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="/error") Error
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="/thank") Thank for visited
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="/landing") Landing page

