---
title: Index Page
---
extends layouts/_layout




block content

  .wrap-index
    h1 Готовые блоки
    .wrap-li
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="error.html") Error
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="thank.html") Thank for visited
      li Page:&nbsp&nbsp&nbsp&nbsp&nbsp
        a(href="landing.html") Landing page

