//BEGIN footer
footer.footer
  .container
    .row.footer__row 

      //- первая колонка
      .col-md-4
        .footer__logo
          a(href="#").header__logo-link.footer__logo-link 
            img(src="img/header/logo.svg", alt="logo")
          .footer__logo-text.
            Официальный партнер Rakuten Viber в Украине





      //- вторая колонка
      .col-md-4



      //- третья колонка
      .col-md-4

//END footer