//BEGIN footer
footer.footer
  .container
    .footer__row 
      .footer__colum-one
        .footer__logo
          a(href="#").header__logo-link 
            img(src="img/header/logo.svg", alt="logo")

//END footer