//- //BEGIN pop-up

.popup
  .wrap__popup
    h2.titleH2.wrap__popup-title Получите пример рассылки
    .wrap__form
      p.subtitle-text Заполните форму,  наш менеджер свяжется с вами и поможет решить вашу задачу
      form(action="#", method="post")
        input(type="text", name="name" placeholder="Ваше имя" autocomplete="off") 
        input(type="email", name="email" placeholder="Ваш e-mail" autocomplete="off")
        input(type="text", name="text-site" placeholder="Ваш сайт" autocomplete="off")
        div 
          input(type="radio", name="radio" id="radio" )
          label(for="radio") Я согласен с 
            span политикой конфиденциальности
        a(href="#").button.zayavka Оставить &nbsp; заявку    
  .popup__bg 
    button 
      span.popup__btn.popup__btn-left
      span.popup__btn.popup__btn-right
//- .popup__bg

//- //END pop-up