.footer
  margin-top: 500px
  background-color: #7360F2
  .footer__logo
    padding-top: 46px
    padding-bottom: 52px
    .footer__logo-link 
      img
        width: 150px
        height: 60px
  .footer__logo-text
    font-weight: 500
    line-height: 24px
    font-size: 16px
    color: #fff
    max-width: 180px
    margin-top: 24px






