.container__calc#calc
  .wrap__calc 
    .wrap__calc-title Виды рассылок
    .wrap__calc-slider
      .swiper-container.gallery-thumbs
        .swiper-wrapper.gallery-thumbs-wrap
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide1.border-slide1 Официальная рассылка с личным кабинетом
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide2 Официальная рассылка
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide3 Продвижение сообществ
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide4 Особая рассылка
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide5 Чат реклама
          .swiper-slide.gallery-thumbs-slide.gallery-thumbs-slide6.border-slide6 Рассылка через API
  
        .swiper-button-next.button-next__gallery-thumbs.animate__animated.animate__pulse.animate__infinite
        .swiper-button-prev.button-prev__gallery-thumbs.animate__animated.animate__pulse.animate__infinite
      .swiper-container.gallery-top
        .swiper-wrapper.gallery-top-wrap
          //- первый 
          .swiper-slide.gallery-top-slide
            .gallery-top-slide-content.gallery-top-slide-content1
              .top-slide-wrap-text Отправляйте Viber рассылки от имени Вашей компании. Это отличное имиджевое решение, которое повышает узнаваемость, влияет на рост конверсии. 
              .show-photo 
                a(href="") Смотреть пример рекламы
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms11" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma11" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 34500 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки
              
            .gallery-top-slide-img.gallery-top-slide-img1.animate__animated
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/private-office/01.jpg", alt="calc1")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/private-office/02.jpg", alt="calc1")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/private-office/03.jpg", alt="calc1")
                

            
          //- второй
          .swiper-slide.gallery-top-slide 
            .gallery-top-slide-content.gallery-top-slide-content2
              .top-slide-wrap-text Быстрый старт Вашей рекаламной кампании от имени универсальных альфа имен с минимальной затратой вашего времени.
              .show-photo 
                a(href="") Смотреть пример рекламы
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms2" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma2" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 34500 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img.gallery-top-slide-img2.animate__animated
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/01.jpg", alt="calc2")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/02.jpg", alt="calc2")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/03.jpg", alt="calc2")


          //- третий
          .swiper-slide.gallery-top-slide  
            .gallery-top-slide-content.gallery-top-slide-content3
              .top-slide-wrap-text Инновацинный способ увеличения количества подписчиков вашего Viber сообщества с помощью инвайтов. Если у Вас отсутствует Viber сообщество мы с радостью поможем его создать и наполнить контентом.
              .show-photo 
                a(href="") Смотреть пример рекламы              
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms3" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma3" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 28000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img.gallery-top-slide-img3.animate__animated
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/promotion/01.jpg", alt="calc3")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/promotion/02.jpg", alt="calc3")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/promotion/03.jpg", alt="calc3")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/promotion/04.jpg", alt="calc3")

          //- четвертый
          .swiper-slide.gallery-top-slide   
            .gallery-top-slide-content.gallery-top-slide-content4
              .top-slide-wrap-text Данный способ подойдет для рекламы: онлайн казино, букмейкерских контор, инвестиционных фондов, алкогольной продукции и т.д.
              .show-photo 
                a(href="") Смотреть пример рекламы              
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms4" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma4" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 28000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img.gallery-top-slide-img4.animate__animated 
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/special/01.png", alt="calc4")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/special/02.jpg", alt="calc4")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/special/03.jpg", alt="calc4")

          //- пятый
          .swiper-slide.gallery-top-slide   
            .gallery-top-slide-content.gallery-top-slide-content1
              .top-slide-wrap-text Размещение вашей рекламы в середине экранов чатов - наиболее  посещаемого экрана в Viber. Состоит из короткого текста + изображение с ссылкой на Ваш сайт.
              .show-photo 
                a(href="") Смотреть пример рекламы
              .budget Рекламный бюджет
                span от 15000 грн
              .click-price Цена клика
                span от 0.5-2.5 грн

              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img.gallery-top-slide-img5.animate__animated
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/01.jpg", alt="calc5")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/02.jpg", alt="calc5")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/official/03.jpg", alt="calc5")

          //- шестой
          .swiper-slide.gallery-top-slide 
            .gallery-top-slide-content.gallery-top-slide-content11
              .top-slide-wrap-text API интеграция используется для автоматизации рассылок с CRM системой либо личным проектом клиента. API предназначен для разработчиков и сопровождается детальной документацией.
              .show-photo 
                a(href="") Смотреть пример рекламы
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms111" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1  js-range-suma111" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 74000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img.gallery-top-slide-img6.animate__animated
              .gallery-top-slide-img-wrap
                .swiper-container.gallert-top-swiper
                  .swiper-wrapper.gallert-top-swiper-wrap
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/api/01.jpg", alt="calc6")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/api/02.jpg", alt="calc6")
                    .swiper-slide.gallert-top-swiper-wrap-slide
                      img(src="img/calc/skrins/api/03.jpg", alt="calc6")



    

