.container__calc 
  .wrap__calc 
    .wrap__calc-title Виды рассылок
    .wrap__calc-slider
      .swiper-button-next.button-next__gallery-thumbs
      .swiper-button-prev.button-prev__gallery-thumbs
      .swiper-container.gallery-thumbs
        .swiper-wrapper.gallery-thumbs-wrap
          .swiper-slide.gallery-thumbs-slide.border-slide1 Официальная рассылка с личным кабинетом
          .swiper-slide.gallery-thumbs-slide Официальная рассылка
          .swiper-slide.gallery-thumbs-slide Рассылка через API
          .swiper-slide.gallery-thumbs-slide Продвижение сообществ
          .swiper-slide.gallery-thumbs-slide Особая рассылка
          .swiper-slide.gallery-thumbs-slide.border-slide6 Чат реклама
  
      //- .gallery-top-wrap-img
      //-   .gallery-top-slide-img 
      //-     img(src="img/calc/calc1.png", alt="calc1")
      .swiper-container.gallery-top
        .swiper-wrapper.gallery-top-wrap
          .swiper-slide.gallery-top-slide 
            .gallery-top-slide-content
              .top-slide-wrap-text Отправляйте Viber рассылки от имени Вашей компании. Это отличное имиджевое решение, которое повышает узнаваемость, влияет на рост конверсии. 
              span.text__under-range
                span.number-sms Количество сообщений
              input(type="text" class="js-range-sms1" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 150 000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              img(src="img/calc/calc1.png", alt="calc1")
            

          .swiper-slide.gallery-top-slide Slide 2
          .swiper-slide.gallery-top-slide Slide 3
          .swiper-slide.gallery-top-slide Slide 4
          .swiper-slide.gallery-top-slide Slide 5
          .swiper-slide.gallery-top-slide Slide 6



    

