.container__calc#calc
  .wrap__calc 
    .wrap__calc-title Виды рассылок
    .wrap__calc-slider
      .swiper-container.gallery-thumbs
        .swiper-wrapper.gallery-thumbs-wrap
          .swiper-slide.gallery-thumbs-slide.border-slide1 Официальная рассылка с личным кабинетом
          .swiper-slide.gallery-thumbs-slide Официальная рассылка
          .swiper-slide.gallery-thumbs-slide Продвижение сообществ
          .swiper-slide.gallery-thumbs-slide Особая рассылка
          .swiper-slide.gallery-thumbs-slide.border-slide6 Чат реклама
          .swiper-slide.gallery-thumbs-slide Рассылка через API
  
        .swiper-button-next.button-next__gallery-thumbs
        .swiper-button-prev.button-prev__gallery-thumbs
      .swiper-container.gallery-top
        .swiper-wrapper.gallery-top-wrap
          .swiper-slide.gallery-top-slide 
            //- первый 
            .gallery-top-slide-content.gallery-top-slide-content1
              .top-slide-wrap-text Отправляйте Viber рассылки от имени Вашей компании. Это отличное имиджевое решение, которое повышает узнаваемость, влияет на рост конверсии. 
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms11" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma11" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 34500 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img
              .gallery-top-slide-img-wrap
                img(src="img/calc/1-3-calc.jpg", alt="calc1-3")
            
          //- второй
          .swiper-slide.gallery-top-slide 
            .gallery-top-slide-content.gallery-top-slide-content2
              .top-slide-wrap-text Быстрый старт Вашей рекаламной кампании от имени универсальных альфа имен с минимальной затратой вашего времени.
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms2" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma2" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 34500 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              .gallery-top-slide-img-wrap
                img(src="img/calc/1-3-calc.jpg", alt="calc1-3")


          //- третий
          .swiper-slide.gallery-top-slide  
            .gallery-top-slide-content.gallery-top-slide-content3
              .top-slide-wrap-text Инновацинный способ увеличения количества подписчиков вашего Viber сообщества с помощью инвайтов. Если у Вас отсутствует Viber сообщество мы с радостью поможем его создать и наполнить контентом.
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms3" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma3" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 28000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              .gallery-top-slide-img-wrap
                img(src="img/calc/4-calc.jpg", alt="calc4")

          //- четвертый
          .swiper-slide.gallery-top-slide   
            .gallery-top-slide-content.gallery-top-slide-content4
              .top-slide-wrap-text Данный способ подойдет для рекламы: онлайн казино, букмейкерских контор, инвестиционных фондов, алкогольной продукции и т.д.
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms4" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma4" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 28000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              .gallery-top-slide-img-wrap
                img(src="img/calc/5-calc.jpg", alt="calc5")

          //- пятый
          .swiper-slide.gallery-top-slide   
            .gallery-top-slide-content.gallery-top-slide-content1
              .top-slide-wrap-text Размещение вашей рекламы в середине экранов чатов - наиболее  посещаемого экрана в Viber. Состоит из короткого текста + изображение с ссылкой на Ваш сайт.
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms11" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1 js-range-suma11" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 74000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              .gallery-top-slide-img-wrap
                img(src="img/calc/4-calc.jpg", alt="calc6")
          //- шестой
          .swiper-slide.gallery-top-slide 
            .gallery-top-slide-content.gallery-top-slide-content11
              .top-slide-wrap-text API интеграция используется для автоматизации рассылок с CRM системой либо личным проектом клиента. API предназначен для разработчиков и сопровождается детальной документацией.
              span.text__under-range
                span.number-sms1 Количество сообщений
                span.number-sms520 Кол-во сообщений
              input(type="text" class="js-range-sms1 js-range-sms111" name="my_range" value="")
              span.number-sms Тариф
              input(type="text" class="js-range-suma1  js-range-suma111" name="my_range" value="")

              span.final-suma-text Итоговая сумма
              span.final-suma-number 74000 грн.
              form(action="#") 
                a(href="#").button.zayavka Получить&nbsp; пример&nbsp; рассылки

            .gallery-top-slide-img 
              .gallery-top-slide-img-wrap
                img(src="img/calc/1-3-calc.jpg", alt="calc1-3")



    

