.container__contacts
  .wrap__contacts
    .contacts__title Реклама дающая <span> реальный </span> результат
    .contacts__text Узнайте какой вид рекламы будет для вас наиболее подходящим. Оставляйте свои контакты и наши менеджеры свяжутся с вами и помогут решить вашу задачу.
    .contacts__form
      form(action="#")
        input(type="tel", name="tel" placeholder="+38 (099) 000 99 00") 
        a(href="#").button.zayavka1.animate__animated.animate__infinite Заказать&nbsp; консультацию
