.container__firstScreen
  .wrap__firstScreen
    .firstScreen__title Viber рассылки для вашего бизнеса <span> от 0.28 грн </span>
    .firstScreen__text Приведем новых клиентов и улучшим узнаваемость вашего бренда, иcпользуйте для общения с клиентами самый популярный   месседжер в Украине с покрытием более 95%
    .firstScreen__form
      form(action="#")
        input(type="tel", name="tel" placeholder="+38 (099) 000 99 00") 
        a(href="#").button.zayavka Попробовать&nbsp; бесплатно
