.container__professional
  .wrap__professional(data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine")
    .wrap__professional-content 
      .professional-content__title Доверьте свою рекламу профессионалам
      .professional-content__text Мы поможем составить Вам продающий макет, подберем для Вас базу с вашей целевой аудиторией и с радостью  поможем:
      .professional-content__list
        .professional-content__list-top Улучшить продажи
        .professional-content__list-mid Повысить узнаваемость вашей компании
        .professional-content__list-bottom Увеличить количество клиентов
      form(action="#") 
        a(href="#").button.zayavka Заказать&nbsp; консультацию
    .wrap__professional-speak1
      p.speak1 Приветствую, я Ваш персональный менеджер! Я дам консультацию по  интерсующим Вас вопросам, ежедневно <span> с 9:00 до 21:00 </span>
    .wrap__professional-speak2
      p.speak2 Я профессиональный маркетолог и помогу Вам составить рекламный  макет для <span> максимальной конверсии </span> в продажи!

    .wrap__professional-man
      img(src="img/professional/man.png", alt="man").big
      img(src="img/professional/manSmall.png", alt="manSmall").small
    .wrap__professional-woman 
      img(src="img/professional/woman.png", alt="woman").big
      img(src="img/professional/womanSmall.png", alt="manSmall").small