.container__review#review
  .wrap__review
    .wrap__review-content 
      .review-content__title Нас выбирают в качестве <span> партнера </span>
      .review-content__text Потому что мы работаем с каждым клиентом чисто и прозрачно. Никаких скрытых платежей и сорванных сроков.
    .swiper-container.swiper-review
      .swiper-wrapper
        .swiper-slide.popup-gallery
          .slide__border.slide__border-01
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/01/Demetra.jpg", alt="1")
                  a(href="img/document/01/Demetra.jpg"  data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-01
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/01/logo-Demetra.jpg", alt="logo-Demetra")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-01 Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-02
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/02/MIDA-SHOP.jpg", alt="MIDA-SHOP")
                  a(href="img/document/02/MIDA-SHOP.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-02
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/02/logo-MIDA-SHOP.jpg", alt="logo-MIDA-SHOP")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-02 Mida-shop
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-03
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/03/Enjoy.jpg", alt="Enjoy")
                  a(href="img/document/03/Enjoy.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-03
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/03/logo-Enjoy.jpg", alt="logo-Enjoy")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-03 Enjoy
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-04
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/04/СontraBus.jpg", alt="СontraBus")
                  a(href="img/document/04/СontraBus.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-04
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/04/logo-ContraBUS.jpg", alt="logo-СontraBus")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-04 СontraBus
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-05
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/05/COMPLEX.png", alt="COMPLEX")
                  a(href="img/document/05/COMPLEX.png" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-05
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/05/logo-COMPLEX.png", alt="COMPLEX-logo")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-05 Complex
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-06
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/06/BRENDA.jpg", alt="BRENDA")
                  a(href="img/document/06/BRENDA.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-06
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/06/logo-BRENDA.jpg", alt="BRENDA-logo")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-06 Brenda
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-07
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/07.jpg", alt="1")
                  a(href="img/document/07.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-07
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-07 Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-08
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/08.jpg", alt="1")
                  a(href="img/document/08.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-08
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-08 Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-09
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/09.jpg", alt="1")
                  a(href="img/document/09.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-09
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-09 Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-10
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/10.jpg", alt="1")
                  a(href="img/document/10.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-10
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-10 Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border.slide__border-11
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/11.jpg", alt="1")
                  a(href="img/document/11.jpg" data-fancybox="gallery") 
                    .slider__overlay.slider__overlay-11
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-11 Demetra
            .slider__comment Отзыв от 18.03.2021
    .swiper-pagination.pagination__review
    .swiper-button-next.button-next__review
      .arrows__imgR
        img(src="img/document/icons/ArrowSlider-R.svg", alt="")

    .swiper-button-prev.button-prev__review
      .arrows__imgL
        img(src="img/document/icons/ArrowSlider-L.svg", alt="")




