.container__review 
  .wrap__review
    .wrap__review-content 
      .review-content__title Нас выбирают в качестве партнера
      .review-content__text Потому что мы работаем с каждым клиентом чисто и прозрачно. Никаких скрытых платежей и сорванных сроков.
    .swiper-container.swiper-review
      .swiper-wrapper
        .swiper-slide.popup-gallery
          .slide__border.slide__border-Demetra
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/01.jpg", alt="1")
                  a(href="img/document/01.jpg"  data-fancybox="gallery") 
                    .slider__overlay.Demetra
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document.slider__name-document-Demetra Demetra
            .slider__comment Отзыв от 18.03.20211
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/02.jpg", alt="1")
                  a(href="img/document/02.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/03.jpg", alt="1")
                  a(href="img/document/03.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/04.jpg", alt="1")
                  a(href="img/document/04.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/05.jpg", alt="1")
                  a(href="img/document/05.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/06.jpg", alt="1")
                  a(href="img/document/06.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/07.jpg", alt="1")
                  a(href="img/document/07.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/08.jpg", alt="1")
                  a(href="img/document/08.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/09.jpg", alt="1")
                  a(href="img/document/09.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/10.jpg", alt="1")
                  a(href="img/document/10.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  .pic1
                    img(src="img/document/11.jpg", alt="1")
                  a(href="img/document/11.jpg" data-fancybox="gallery") 
                    .slider__overlay
                      .slider__links
                        .slider__links-img 
                          img(src="img/document/icons/logo1.jpg", alt="logo1")
                        .slider__links-text Читать

          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021
    .swiper-pagination.pagination__review
    .swiper-button-next.button-next__review
      .arrows__imgR
        img(src="img/document/icons/ArrowSlider-R.svg", alt="")

    .swiper-button-prev.button-prev__review
      .arrows__imgL
        img(src="img/document/icons/ArrowSlider-L.svg", alt="")




