.container__review 
  .wrap__review
    .wrap__review-content 
      .review-content__title Нас выбирают в качестве партнера
      .review-content__text Потому что мы работаем с каждым клиентом чисто и прозрачно. Никаких скрытых платежей и сорванных сроков.
    .swiper-container
      .swiper-wrapper
        .swiper-slide.popup-gallery
          .slide__border
            .slide__pamka1
              .slide__pamka2
                .slide__pamka3
                  a(href="https://images.ua.prom.st/1440764527_saharnaya-kartinka-lyubov.jpg")
                    .pic1
                      img(src="https://images.ua.prom.st/1440764527_saharnaya-kartinka-lyubov.jpg", alt="")
          .slider__text
            .slider__name-document Demetra
            .slider__comment Отзыв от 18.03.2021







      //-  Add Pagination 
      .swiper-pagination
      //- Add Arrows
      .swiper-button-next
      .swiper-button-prev
