.container__steps 
  .wrap__steps 
    .steps__title Как мы работаем <span> над каждым нашим проектом </span>
    .steps__line1 
      .line1-comp__wrap 
        .comp__wrap-num.steps-number 01
        .comp__wrap-img 
          img(src="img/steps/1.gif", alt="1gif")
        .comp__wrap-text.steps-text Подбор базы получателей
      .svg-steps 
        img(src="img/steps/line1.svg", alt="")
      .line1-planshet__wrap 
        .planshet__wrap-num.steps-number 02
        .planshet__wrap-img 
          img(src="img/steps/2.gif", alt="1gif")
        .planshet__wrap-text.steps-text Согласование рекламного макета
      .svg-steps 
        img(src="img/steps/line2.svg", alt="")
      .line1-document__wrap 
        .document__wrap-num.steps-number 03
        .document__wrap-img 
          img(src="img/steps/3.gif", alt="1gif")
        .document__wrap-text.steps-text Подписание договора и оплата
    .steps__line2 
      .line2-phone__wrap 
        .phone__wrap-num.steps-number 04
        .phone__wrap-img 
          img(src="img/steps/4.gif", alt="1gif")
        .phone__wrap-text.steps-text Реклама сообщений
      .svg-steps 
        img(src="img/steps/line1.svg", alt="")
      .line2-cash__wrap 
        .cash__wrap-num.steps-number 05
        .cash__wrap-img 
          img(src="img/steps/5.gif", alt="1gif")
        .cash__wrap-text.steps-text Получение прибыли с новых клиентов
      .svg-steps 
        img(src="img/steps/line2.svg", alt="")
      .line2-calc-doc__wrap 
        .calc-doc__wrap-num.steps-number 06
        .calc-doc__wrap-img 
          img(src="img/steps/6.gif", alt="1gif")
        .document__wrap-text.steps-text Отчет и Анализ рекламной компании







