.container__steps 
  .wrap__steps 
    .steps__title Как мы работаем над каждым нашим проектом 
    .steps__line1 
      .line1-comp__wrap 
        .comp__wrap-num 
        .comp__wrap-img 
          //- img(src="", alt="")
        .comp__wrap-text 